@charset "utf-8";
@import url(reset.css);
@mixin full{
	width:100%;
	height:100%;
}
@mixin pos($val:relative){
	position:$val;
}
@mixin box($val:horizontal){
	display:-webkit-box;
	-webkit-box-orient:$val;
}
html,body,.wrap{
	@include full;
	overflow:hidden;
}
@-webkit-keyframes move{
	0%{
		-webkit-transform:translate3d(-100%,100%,0)
	}
	70%{
		-webkit-transform:translate3d(-50%,50%,0)
	}
	100%{
		-webkit-transform:translate3d(0,0,0)
	}
}
@-webkit-keyframes upanddown{
	0%{
		opacity:1;
		-webkit-transform:translate3d(0,0,0) scale(1);
	}
	50%{
		opacity:0;
		-webkit-transform:translate3d(0,20px,0) scale(0.8);
	}
	100%{
		opacity:1;
		-webkit-transform:translate3d(0,0,0) scale(1);
	}
}

.wrap{
	@include pos;
}
.box{
	@include full;
	@include pos(absolute);
	display:none;
	
}
.b1{
	display:block;
	background:url(../img/a2.png) no-repeat left bottom;
	background-size:100% 100px;
	padding-top:10%;
	.title{
		margin:0 auto;
		width:200px;
		height:80px;
		background:url(../img/index_t.jpg) no-repeat;
		background-size:contain;
		@include pos;
		&>img{
			width:25%;
			@include pos(absolute);
			top:60%;
			right:20%;
		}
	}
	.girl{
		width:360px;
		margin:0 auto;
		text-align:center;
		left:50%;
		top:160px;
		margin-left:-180px;
		@include pos(absolute);
		-webkit-animation:move .6s ease-in;
		img{
			width:50%;
		}
	}
	
}
.b2{
	background:url(../img/wxbot.jpg) no-repeat left bottom;
	background-size:100% ;
	.head{
		width:100%;
		height:40px;
		background:url(../img/wxtitle.jpg) no-repeat left top;
		background-size:100% ;
	}
	p{
		width:100%;
		height:100px;
		padding:0 10px;
		img{
			width:300px;
			display:block;	
		}
	}
	
}
.b3{
	text-align:center;
	&>img{
		width:80%;
		padding-top:20%;
	}
	p{
		width:100%;
		padding-top:30px;
		text-align:center;
		img{
			width:90%;
		}
	}
}
.b4,.b5,.b6{
	&>img{
		width:100%;
		height:350px;
	}
	p{
		width:100%;
		text-align:center;
		img{
			padding-top:10px;
			width:90%;
		}
	}
}
.b6{
	&>img{
		width:100%;
		height:220px;
	}
}
.b7{
	padding-top:10%;
	.title{
		margin:0 auto;
		width:200px;
		height:80px;
		
		@include pos;
		&>img{
			width:25%;
			@include pos(absolute);
			top:60%;
			right:20%;
		}
	}
	.tip{
		width:90%;
		margin:0 auto;
		padding-top:30px;
		img{
			width:100%;
		}
	}
	.stop{
		padding-top:20px;
		width:300px;
		margin:0 auto;
		text-align:center;
		img{
			width:70%;
		}
	}
	
}
.b8{
	background-color:darkblue;
	background:url(../img/house.png) no-repeat left bottom;
	background-size:contain;
	.talk{
		width:100%;
		text-align:center;
		img{
			padding-top:10px;
			width:90%;
		}
	}
	.btn{
		@include pos;
		width:75px;
		height:75px;
		margin:40px auto;
		&>img{
			@include pos(absolute);
			width:100%;
			&:nth-child(2){
				top:30px;
				left:20px;
				width:60%;
			}
		}
	}
}
.b9{
	background-color:darkgreen;
	text-align:center;
	.car{
		width:100%;
		@include pos;
		text-align:right;
		padding-right:10%;
		img{
			padding-top:10px;
			width:50%;
		}
		.back{
			@include pos(absolute);
			width:60px;
			left:10%;
			top:20%;
		}
	}
	.map{
		margin:30px auto;
		width:260px;
		height:300px;
		@include pos;
		canvas{
			@include pos(absolute);
			top:0;
			left:0;
		}
		.che{
			@include pos(absolute);
			z-index:88;
		}
		.c1{
			top:-64px;
			left:17px;
		}
		.c2{
			-webkit-transform:rotate(90deg) scale(0.3);
			top:-35px;
			right:-30px;
		}
		.c3{
			-webkit-transform:rotate(-90deg) scale(0.3);
			bottom:10px;
			left:-40px;
		}
		.c4{
			-webkit-transform:rotate(90deg) scale(0.3);
			bottom:5px;
			right:-30px;
		}
		.c5{
			-webkit-transform:rotate(-180deg) scale(0.3);
			bottom:-63px;
			left:12px;
		}
	}
	.che{
		-webkit-transform:scale(0.3);
	}
	
}
#canvas{
	background:url(../img/map.jpg);
	background-size:100%;
}

.next{
	@include pos(absolute);
	bottom:20px;
	left:50%;
	margin-left:-20px;
	display:none;
	&>img{
		width:40px;
		-webkit-animation:upanddown 1s infinite;

	}
}
.pos{
	width:200px;
	height:210px;
	@include pos(absolute);
	top:15%;
	left:50%;
	margin-left:-100px;
	img{
		width:100%;
	}
}


